* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body {
    background: url('../images/bg.png') no-repeat;
    background-size: cover;
    min-height: 100vh;
}

:root {
    --sectionPadding: 30px 0;
}
/* Header Section */
header {
    padding: var(--sectionPadding);
}
header nav {
    padding: 0 30px !important;
    background-color: rgba(253, 253, 253, 0.26);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 15px;
}
header nav .navbar-brand img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
header nav ul li a {
    color: black !important;
    font-size: 20px;
}
/* Food Items Section */
#foodItems {
    padding: var(--sectionPadding);
    position: relative;
}
.wrapper {
    padding: 30px;
    background-color: rgba(253, 253, 253, 0.26);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 15px;
}
#foodItems .searchIcon {
    background-color: #0b68f7;
    border-right: none;
    color: white;
    border: none;
    border-radius: 10px 0 0 10px;
}
#foodItems .searchIcon + input {
    border: none;
    background-color: rgba(255, 255, 255);
}
#foodItems .searchIcon + input:focus {
    outline: none;
    box-shadow: none;
    border: none;
    color: black;
}
#foodItems .searchIcon + input::placeholder {
    color: black;
    font-size: 16px;
}

#foodItems .searchButton {
    border: none;
}

#foodItems .items {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    border: none;
    padding: 20px 20px;
}
#foodItems .items img {
    border-radius: 10px;
}

/* Food Ingredients Section */
#foodIngredients {
    display: none;
    visibility: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    background: url(../images/bg.png) no-repeat;
    background-size: cover;
    z-index: 111;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    transition: 0.5s;
}
#foodIngredients .ingredientsClose {
    font-size: 50px;
    position: fixed;
    right: 40px;
    top: 10px;
    cursor: pointer;
}
#foodIngredients img {
    border-radius: 15px;
}
#foodIngredients #ingredientsDetails {
    border-radius: 15px;
}
#foodIngredients #ingredientsDetails li {
    background-color: rgba(255, 255, 255, 0.7);
}

/* Not Found Alert */
#notFoundAlert {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    background-color: rgba(255, 255, 255, 0.178);
    width: 500px;
    text-align: center;
    padding: 20px 0;
    border-radius: 15px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    transition: 0.5s;
}
#notFoundAlert .notFoundClose {
    font-size: 50px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
